{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<h1>Profil de
		{{app.user.LastName}}</h1>
	<img src="{{asset('assets/images/users/')}}{{app.user.avatar}}" alt="">


	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
